* {
	margin: 0;
	padding: 0;
	font-family: 'Zen Loop', cursive;
}

.nav {
	display: flex;
	flex-direction: row;
	background-color: rgba(128, 128, 128, 0.144);
	justify-content: space-between;
	padding: 1rem;
}

.nav_list {
	margin-right: 1rem;
	list-style: none;
}

.nav_main {
	font-size: 3rem;
	text-decoration: none;
}
.nav_main i {
	color: rgb(17, 202, 17);
}

.nav_main_span {
	font-weight: bolder;
}
.nav_link {
	text-decoration: none;
	color: black;
	font-size: 2rem;
	font-weight: bold;
	padding: 0.8rem;
}
